.blurfade {
  font-size: 1.8vw;
  line-height: 1.45em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 4;
  overflow: hidden;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 2s;
  width: auto;
  right: 0;
  left: 0;
  background: radial-gradient(
    ellipse at -15vw -50vw,
    #ebc1c1 0%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: gradient 5000ms infinite;
}

@keyframes gradient {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.gradient {
  position: absolute;
  transition: -webkit-filter 1200ms, top 1200ms, left 1200ms, right 1200ms,
    bottom 1200ms;
}

.gradient-1 {
  width: 150vw;
  height: 70vw;
  bottom: -35vw;
  left: -25vw;
  background: radial-gradient(
    ellipse at bottom center,
    RGBA(30, 199, 103, 0.7) 0%,
    RGBA(255, 255, 255, 0) 50%
  );
}

.gradient-2 {
  width: 100vw;
  height: 110vw;
  bottom: -50vw;
  left: 0vw;
  background: radial-gradient(
    ellipse at center left,
    RGBA(113, 131, 237, 1) 0%,
    RGBA(255, 255, 255, 0) 50%
  );
}

.gradient-3 {
  width: 100vw;
  height: 200vw;
  bottom: -50vw;
  left: 0;
  background: radial-gradient(
    ellipse at center right,
    RGBA(240, 116, 1, 1) 0%,
    RGBA(255, 255, 255, 0) 50%
  );
}
