@import "_flex.scss";
nav.big-menu {
  height: 100%;
  ul {
    height: 100%;
    list-style-type: none;
    @extend .flex;
    flex-direction: column;
    justify-content: flex-end;
    li {
      p,
      a {
        text-decoration: none;
      }
      p {
        color: white;
        letter-spacing: 0ch;
        transition: letter-spacing ease 100ms;
        &:hover {
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
