.scroll-snap {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  height: 100%;
}

section {
  min-width: 100vw;
  height: 100%;
  scroll-snap-align: start;
  height: -webkit-fill-available;
  // height: auto;
  // padding: 2em 0;

  @media (max-width: 768px) {
    &:not(.landing) {
      display: none;
    }
  }

  &.landing {
    position: relative;
    .random {
      width: 80%;
      margin: 0 auto;
      &:not(#random){
        pointer-events: none;

      }
      

    }
  }

  &.sites {
    // background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    padding: 0 1em 5%;
    min-height: 100vh;

    .wrap {
      display: flex;
      align-items: flex-end;
      min-height: 88vh;

      img {
        max-width: 70vw;
        padding: 0;
      }

      @media (max-aspect-ratio: 1/1) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20vh;
        min-height: 0;

        img {
          max-width: 90vw;
          margin-bottom: 1em;
        }
      }

      ul.top {
        position: absolute;
        list-style: square;

        li {
          font-size: 14px;
        }
      }

      img {
        height: auto;
        width: auto;
        max-height: 70vh;
      }
    }
  }

  &.design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .flex {
      width: 100px;
      justify-content: space-around;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &.contact {
    position: relative;
    background: $blue;
    .spin-container {
      position: absolute;
    }
  }

  &.personal {
    display: none;
  }
}