.scroll-snap {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  height: 100%;
}

section {
  min-width: 100vw;
  max-height: 100vh;
  overflow-y: none;
  scroll-snap-align: start;
  height: stretch;
  height: auto;
  padding: 2em 0;

  &.landing {
    position: relative;
    .random {
      max-width: 90%;
      margin: 0 auto;
      &:not(#random) {
        pointer-events: none;
      }
    }
  }

  &.showcase {
    position: relative;
    border: red dashed 2px;
    min-width: 2500px;
    img {
      position: absolute;
      max-width: 30vw;
    }
  }

  &.contact {
    position: relative;
    background: $blue;
    .spin-container {
      position: absolute;
    }
  }
}
