body {
  font-family: "termina", sans-serif;
  font-style: normal;
  font-size: 12px;
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-font-smoothing: antialiased; // -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
  }
}

.random {
  width: 100%;
  object-position: center;
  object-fit: contain;
  
}
@import "typography.scss";

img {
  width: auto;
  height: auto;
  padding: 2em 0;
  max-width: 100%;
  max-height: 80vh;
}


@import "flex.scss";
@import "nav.scss";
@import "section.scss";
@import "window.scss";

.open {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 0 1em;
  z-index: 5;
}


.on-mob {
  display: none;
  @media (max-width: 768px) {   
      display: block;
   
  }
}