section.intro {
    padding: 0;
    height: 100vh;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 33% 1fr 1fr;
    grid-template-rows: 40% auto 1fr 1fr;
    grid-gap: 0;
}

.grid-item {

    border: black 1px solid;

    img {
        // min-height: 100%;
    }

    &.item_1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    &.item_2 {
        background: black;
        grid-column-start: 3;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 3;

        img {
            object-fit: contain;

            position: relative;

            padding: 0;

        }
    }

    &.item_3 {
        background: green;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    &.item_4 {
        background: yellow;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: -1;
    }
}