body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0
}

html {
    font-size: 16px
}

.hide {
    display: none
}

@media screen and (max-width: 900px) {
    .hide {
        display: block
    }
}

.temp-trigger {
    position: absolute;
    height: 100vh;
    width: 13vw;
    left: 0;
    right: 0;
    margin: auto
}

body.homepage {
    font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #6A3694
}

body.red {
    background: #EE5A34
}

body.red svg .st0 {
    fill: #6A3694
}

body.red .logo-component div {
    background: #6A3694 !important
}

.open-button {
    position: absolute
}

.resizing * {
    animation: none !important;
    animation-delay: 0s
}

body.pink {
    background: #EC1281
}

body.pink .logo-container svg .st0,
body.pink .middle-bar,
body.pink .top-bar,
body.pink .bottom-bar,
body.pink .bar-container {
    background: #000;
    fill: #000
}

body.purple-pink {
    background: #6A3694
}

body.purple-pink .logo-container svg .st0,
body.purple-pink .middle-bar,
body.purple-pink .top-bar,
body.purple-pink .bottom-bar,
body.purple-pink .bar-container {
    background: #EC1281;
    fill: #EC1281
}

body.black {
    background: #000
}

body.black .logo-container svg .st0,
body.black .middle-bar,
body.black .top-bar,
body.black .bottom-bar,
body.black .bar-container {
    background: #EC1281;
    fill: #EC1281
}

.logo-container {
    width: 524px;
    height: 81px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    vertical-align: middle;
    transition: all 400ms ease
}

.logo-container svg .st0 {
    fill: #EE5A34
}

@media screen and (max-width: 1200px) {
    .logo-container {
        height: 65px;
        width: 426px
    }
}

@media screen and (max-width: 900px) {
    .logo-container {
        z-index: 1000;
        pointer-events: none
    }
}

.logo-container:not(.logo-open) {
    pointer-events: none
}

.logo-container:not(.logo-open) .i-container {
    pointer-events: auto
}

.close-button {
    padding: 3px 9px 3px 0;
    top: -5px;
    background: rgba(106, 54, 148, 0);
    color: rgba(252, 88, 50, 0);
    position: relative;
    z-index: 1000;
    visibility: hidden;
    transition: color 200ms ease 400ms;
    display: inline-block;
    cursor: pointer
}

@media screen and (max-width: 900px) {
    .close-button {
        display: none
    }
}

body.red .close-button {
    background: rgba(238, 90, 52, 0);
    color: rgba(106, 54, 148, 0)
}

body.red .logo-container.logo-open .close-button {
    background: #ee5a34;
    color: #6a3694
}

.logo-component {
    position: absolute
}

.bar-container {
    position: absolute;
    width: 186px;
    height: 15px;
    background: #EE5A34;
    left: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%)
}

.bar-container.bar3 {
    display: none
}

.bar-container.bar2 {
    transform: translate(-50%) rotate(-18deg)
}

.bar-container.bar4 {
    transform: translate(-50%) rotate(18deg)
}

@media screen and (max-width: 1200px) {
    .bar-container {
        width: 152px;
        height: 12px
    }
}

@media screen and (max-width: 900px) {
    .bar-container {
        display: none
    }
}

@keyframes hintAnimation {
    0% {
        height: calc(100% - 4px);
        transform: translate(-50%)
    }

    6% {
        height: calc(100% + 30px);
        transform: translate(-50%, -16px)
    }

    12% {
        height: calc(100% + 20px);
        transform: translate(-50%, -11px)
    }

    48% {
        height: calc(100% + 20px);
        transform: translate(-50%, -11px)
    }

    54% {
        height: calc(100% - 14px);
        transform: translate(-50%, 5px)
    }

    60% {
        height: calc(100% - 4px);
        transform: translate(-50%)
    }
}

.logo-container:not(.logo-open) .i-container:hover {
    height: calc(100% + 20px);
    transform: translate(-50%, -11px);
    animation: none
}

.i-container {
    position: absolute;
    width: 186px;
    height: calc(100% - 4px);
    left: 50%;
    transform: translate(-50%);
    right: 0;
    top: 1px;
    bottom: 0;
    box-sizing: border-box;
    transition: width 300ms ease;
    cursor: pointer
}

.i-container.hovered {
    animation: hintAnimation 2800ms forwards infinite
}

@media screen and (max-width: 1200px) {
    .i-container {
        animation: none;
        width: 156px
    }
}

.i-container .middle-bar {
    width: 17px;
    height: 100%;
    position: absolute;
    left: calc((100% - 7.5px) - 50%);
    right: 0;
    background: #EE5A34
}

@media screen and (max-width: 1200px) {
    .i-container .middle-bar {
        width: 14px
    }
}

@media screen and (max-width: 900px) {
    .i-container .middle-bar {
        width: 6px;
        animation: none !important;
        right: 0;
        height: calc(100% - 70px);
        left: auto !important
    }
}

.i-container .top-bar,
.i-container .bottom-bar {
    width: 100%;
    height: 15px;
    background: #EE5A34;
    position: absolute
}

@media screen and (max-width: 1200px) {

    .i-container .top-bar,
    .i-container .bottom-bar {
        height: 13px
    }
}

@media screen and (max-width: 900px) {

    .i-container .top-bar,
    .i-container .bottom-bar {
        height: 7px;
        animation: none !important
    }
}

.i-container .top-bar {
    top: 0px;
    left: 0
}

@media screen and (max-width: 900px) {
    .i-container .top-bar {
        height: calc(100% - 70px);
        width: 6px;
        bottom: -2px;
        top: auto;
        transform-origin: bottom left
    }
}

.i-container .bottom-bar {
    bottom: 0px;
    right: 0
}

@media screen and (max-width: 900px) {
    .i-container .bottom-bar {
        bottom: 125px
    }
}

.sh-container,
.ft-container {
    width: 160px
}

.sh-container>svg,
.ft-container>svg {
    height: 100%
}

@media screen and (max-width: 900px) {

    .sh-container>svg,
    .ft-container>svg {
        width: 100%
    }
}

@media screen and (max-width: 1200px) {

    .sh-container,
    .ft-container {
        width: 130px
    }
}

.sh-container {
    left: 0;
    bottom: 1px;
    height: 81px
}

@media screen and (max-width: 1200px) {
    .sh-container {
        height: 65px;
        left: 3px
    }
}

@media screen and (max-width: 900px) {
    .sh-container {
        transform: rotate(90deg);
        transform-origin: bottom left;
        top: -32px;
        left: -2px;
        height: 35px;
        width: 65px
    }
}

.ft-container {
    right: 0;
    top: 0;
    height: 78px
}

@media screen and (max-width: 1200px) {
    .ft-container {
        top: 0px;
        height: 62px
    }
}

@media screen and (max-width: 900px) {
    .ft-container {
        transform: rotate(90deg);
        transform-origin: top right;
        bottom: -32px;
        right: -2px;
        height: 35px;
        width: 65px;
        top: auto
    }
}

@keyframes iWidth {
    0% {
        width: 180px
    }

    100% {
        width: 100%
    }
}

@keyframes middleBarAnimation {
    100% {
        left: 60%
    }
}

@keyframes barsAnimation {
    0% {
        width: 100%
    }

    100% {
        width: calc(100% - 170px)
    }
}

@keyframes barsAnimationBpM {
    0% {
        width: 100%
    }

    100% {
        width: calc(100% - 140px)
    }
}

@keyframes logoContainerAnimation {
    0% {
        width: 524px
    }

    100% {
        width: 90vw
    }
}

.logo-container.open-hint .i-container {
    animation: hintAnimation 200ms forwards alternate
}

.logo-container.close-hint .i-container {
    animation: hintAnimationReverse 200ms forwards alternate
}

.logo-container.logo-open {
    animation: logoContainerAnimation 400ms 400ms forwards;
    max-width: 1440px;
    max-height: 900px;
    left: 5vw;
    right: 5vw;
    height: 80vh
}

@media screen and (max-width: 900px) {
    .logo-container.logo-open {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        max-width: none;
        animation: none;
        left: 10px;
        right: 10px;
        bottom: 10px;
        top: 10px;
        position: fixed;
        transform: none;
        transition: none
    }
}

.logo-container.logo-open .i-container {
    animation: iWidth 400ms 400ms forwards;
    cursor: auto
}

@media screen and (max-width: 900px) {
    .logo-container.logo-open .i-container {
        animation: none;
        width: 100%
    }
}

.logo-container.logo-open .i-container .middle-bar {
    left: 50%;
    animation: middleBarAnimation 400ms 400ms forwards
}

.logo-container.logo-open .close-button {
    color: #fc5832;
    background: #6a3694;
    visibility: visible
}

.logo-container.logo-open .top-bar,
.logo-container.logo-open .bottom-bar {
    animation: barsAnimation 400ms 400ms forwards
}

@media screen and (max-width: 1200px) {

    .logo-container.logo-open .top-bar,
    .logo-container.logo-open .bottom-bar {
        animation: barsAnimationBpM 400ms 400ms forwards
    }
}

.logo-container.logo-open .bottom-bar {
    right: 0
}

.logo-container.logo-closing .i-container {
    animation: iWidth 400ms forwards
}

.content-container {
    margin: 0 auto
}

.info-container {
    position: absolute;
    height: 70vh;
    width: 90vw;
    max-height: 800px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    pointer-events: none;
    display: flex;
    justify-content: space-between
}

@media screen and (max-width: 900px) {
    .info-container {
        position: relative;
        display: block;
        height: auto;
        width: calc(100vw - 65px);
        margin-top: 70px;
        z-index: 500;
        margin-bottom: 150px
    }
}

.info-left-outer,
.info-right-outer {
    overflow: hidden
}

.info-container.logo-open {
    pointer-events: auto;
    max-width: 1440px
}

.info-container.logo-open .info-left {
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}

.info-container.logo-open .info-right {
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}

.info-left-outer {
    width: calc(61% - 17px);
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end
}

@media screen and (max-width: 900px) {
    .info-left-outer {
        width: 100%
    }
}

.info-left {
    width: 80%;
    min-width: 500px;
    height: 100%;
    z-index: 50;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 1.7vw;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 400ms ease 850ms, transform 400ms ease 850ms
}

@media screen and (max-width: 1200px) {
    .info-left {
        width: 50%;
        min-width: 430px;
        padding-right: 1.3vw
    }
}

@media screen and (max-width: 900px) {
    .info-left {
        margin-bottom: 45px
    }
}

.info-right-outer {
    width: calc(40% - 17px);
    height: 100%
}

@media screen and (max-width: 900px) {
    .info-right-outer {
        width: 100%
    }
}

.info-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1.7vw;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 400ms ease 950ms, transform 400ms ease 950ms
}

@media screen and (max-width: 900px) {
    .info-right .social-links {
        display: none
    }
}

.social-links {
    margin-bottom: 0px;
    display: flex
}

.social-link-container {
    margin-right: 20px
}

.social-link {
    text-decoration: none
}

.social-link:hover {
    text-decoration: underline
}

.exhibition-description {
    width: 50%
}

.exhibition-description p {
    color: #FFF;
    font-weight: 200;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 20px
}

@media screen and (max-width: 900px) {
    .exhibition-description p {
        font-weight: 300
    }
}

@media screen and (max-width: 500px) {
    .exhibition-description {
        width: 80%
    }
}

.subheading {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 0.675rem;
    color: #FFF;
    margin: 10px 0
}

body.red .info-block {
    color: #6A3694
}

.info-block {
    color: #FC5832;
    font-size: 2rem;
    font-weight: 400
}

.info-block a {
    color: inherit;
    text-decoration: none
}

.info-block a:hover {
    text-decoration: underline
}

.info-block .short-format {
    display: none
}

@media screen and (max-width: 500px) {
    .info-block .short-format {
        display: block
    }
}

@media screen and (max-width: 500px) {
    .info-block .long-format {
        display: none
    }
}

@media screen and (max-width: 900px) {
    .info-block {
        font-size: 1.7rem
    }

    .info-block br {
        display: none
    }
}

@media screen and (max-width: 500px) {
    .info-block {
        font-size: 7vw
    }
}

@media screen and (max-width: 400px) {
    .info-block {
        font-size: 6.3vw
    }
}

@media screen and (min-width: 500px) {
    .info-block .force-break {
        display: none
    }
}

@media screen and (max-width: 500px) {
    .info-block .force-break {
        display: block
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}

.info-container.logo-open .spin-container {
    visibility: visible;
    opacity: 1
}

.info-container.logo-open .spin-container .large-circle {
    animation: spin 48000ms linear 1000ms infinite reverse forwards
}

.info-container.logo-open .spin-container .small-circle {
    animation: spin 48000ms linear 1000ms infinite forwards
}

.spin-container {
    position: absolute;
    left: 0;
    top: 3%;
    height: 60vh;
    width: 60vh;
    max-width: 400px;
    max-height: 400px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 800ms 1200ms ease
}

@media screen and (max-width: 1200px) {
    .spin-container {
        max-width: 370px;
        max-height: 370px
    }
}

@media screen and (max-width: 900px) {
    .spin-container {
        max-width: 250px;
        max-height: 250px;
        top: -50px;
        left: 5%
    }
}

@media screen and (max-width: 500px) {
    .spin-container {
        display: none
    }
}

.spin-container svg {
    width: 100%;
    height: 100%;
    position: absolute
}

.spin-container svg .st0 {
    fill: #9654CA
}

body.red .spin-container svg .st0 {
    fill: #ff7544
}

.social-mobile-container {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 140px;
    background: #6A3694;
    z-index: 750;
    align-items: center;
    justify-content: space-around
}

.social-mobile-container .social-links {
    margin: 0 auto;
    width: calc(100vw - 75px);
    justify-content: space-around;
    flex-direction: column;
    height: 80%
}

.social-mobile-container .social-link {
    display: block;
    padding: 10px 0;
    margin: 0
}

@media screen and (max-width: 900px) {
    .social-mobile-container {
        display: flex
    }
}

.hover-triggers-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex
}

@media screen and (max-width: 900px) {
    .hover-triggers-container {
        display: none
    }
}

.hover-trigger {
    height: 100%;
    width: 100%
}

.hover-triggers-container.logo-open {
    display: none
}

@font-face {
    font-family: "SharpGrotesk";
    src: url("/assets/fonts/SharpGroteskThin25.eot");
    src: url("/assets/fonts/SharpGroteskThin25.woff");
    src: url("/assets/fonts/SharpGroteskThin25.woff2");
    font-weight: 100
}

@font-face {
    font-family: "SharpGrotesk";
    src: url("/assets/fonts/SharpGroteskLight25.eot");
    src: url("/assets/fonts/SharpGroteskLight25.woff");
    src: url("/assets/fonts/SharpGroteskLight25.woff2");
    font-weight: 200
}

@font-face {
    font-family: "SharpGrotesk";
    src: url("/assets/fonts/SharpGroteskBook25.eot");
    src: url("/assets/fonts/SharpGroteskBook25.woff");
    src: url("/assets/fonts/SharpGroteskBook25.woff2");
    font-weight: 300
}

@font-face {
    font-family: "SharpGrotesk";
    src: url("/assets/fonts/SharpGroteskMedium25.eot");
    src: url("/assets/fonts/SharpGroteskMedium25.woff");
    src: url("/assets/fonts/SharpGroteskMedium25.woff2");
    font-weight: 400
}

@font-face {
    font-family: "SharpGrotesk";
    src: url("/assets/fonts/SharpGroteskBold25.eot");
    src: url("/assets/fonts/SharpGroteskBold25.woff");
    src: url("/assets/fonts/SharpGroteskBol25.woff2");
    font-weight: 500
}

@font-face {
    font-family: "SharpGrotesk";
    src: url("/assets/fonts/SharpGroteskBlack25.eot");
    src: url("/assets/fonts/SharpGroteskBlack25.woff");
    src: url("/assets/fonts/SharpGroteskBlack25.woff2");
    font-weight: 600
}